*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #333333;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 34px;
    color: #fcb026;
}
.P1{
    margin-left: 10PX;
    margin-right: 10PX;
}
.p2{
    margin-right: 20px;
}
.navbar2{
    background-color: #fcb026;
    display: grid;
    grid-template-columns: repeat(9,auto);
    gap: 10PX;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    line-height: 30px;
    height: 66px;
    font-family: JCBEuro-Bold-Condensed,Gill Sans Bold,Arial,Helvetica,"sans-serif";
    font-weight: bold;
}
.navbar2 img{
    height: 40px;
    width: 100px;
}
.text{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    margin-left: 700px;
    
}
.jcbimg img{
    height: 486px;
    width: 100%;
}
.hdn{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Gill Sans", Arial, Helvetica, "sans-serif";
    margin-top: 0px;
    color: #262626;
    padding-top: 100px
}
.form{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    width: 100%;
    color: #333146;
    font-family: JCBEuro-Bold,Gill Sans Bold,Arial,Helvetica,"sans-serif";
    font-size: 16px;
    font-weight: bold;

}
input[type=text]{
    padding-top: 1rem;
    padding-right: 6.7rem;
    padding-bottom: 1.4rem;
}
.cm input{
    font-size: 20px;
    padding-top: 1rem;
    padding-right: 19.5rem;
    padding-bottom: 4.5rem;

}
.cx{
    display: flex;

}
.cx p{
    margin-top: 30px;
    color: #333146;
    font-family: JCBEuro-Bold,Gill Sans Bold,Arial,Helvetica,"sans-serif";
    /* font-size: 1.6rem; */
    margin-left: 20px;
}
.ck input{
    visibility: visible;
    flex-shrink: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-top: 30px;
}    
.form2{
    justify-content: center;
    margin-left: 475px;
    color: #333146;
    font-family: JCBEuro-Bold,Gill Sans Bold,Arial,Helvetica,"sans-serif";
    font-size: 16px;
    font-weight: bold;   
}
.big{
    background-color:#f2f2f2; 
    height: 1100px; 
}
.submit input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 550px;
    font-size: 20px;
    background-color: #fcb026;
    color: #000000;
    height: 60px;
    width: 240px;
    font-weight: 600;
    margin-top: 50px;
}
.navb{
    height: 388px;
    background-color: #262626;
}
.navs{
    height: 278px;
    width: 400px;
    background-color:  #262626;
    padding-top: 70px;
    margin-left: 160px;
}
.navs2 h1{
    color: #fcb026;
    font-family: JCBEuro-Bold-Condensed, "Gill Sans Bold", Arial, Helvetica, "sans-serif";
    margin-left: 100px;
    width: 400px;
    padding-left: 100px;
    
}
.navs{
    display: flex;
    width: 1200px;
}
.navs2 h1{
    width: 90px;
    
}
.te{
    margin-left: 350px;
    color: #fff;
    font-family: JCBEuro-Bold,Gill Sans Bold,Arial,Helvetica,"sans-serif";
    font-size: 20px;
}
.more{
    color: #fcb026;
    margin-top: 50px;
}
.j1{
    height: 2700px;
}
.j2{
    height: 410px;
    background-color: #f2f2f2;
    margin-top: 40px;
    display: flex;
    margin-left: 168px;
    margin-right: 168px;
}
.j2 img{
    height: 410px;
    width: 580px;

}
.t1{
    margin-left: 35px;
    width: 600px;
    margin-right: 40px;
}
.t1 h3{
    color: #262626;
    font-family: JCBEuro, "Gill Sans", Arial, Helvetica, "sans-serif";
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;
}
.blue{
    text-decoration: underline;
    color: #0051af;
}
.j3{
    display: flex;
    height: 410px;
    background-color: #f2f2f2;
    margin-top: 40px;
    margin-left: 168px;
    margin-right: 168px;

}
.t2 img{
    height: 410px;
    width: 580px;
    margin-left: 10px;
}
.j4{
    margin-left: 18px

}
.j4 h3{
    color: #262626;
    font-family: JCBEuro, "Gill Sans", Arial, Helvetica, "sans-serif";
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;
}
.foter{
    height: 318px;
    background-color: #000000;
}
.foter2{
    height: 203px;
    width: 1200px;
    background-color: #000000;
    display: flex;
    margin-left: 184px;
    padding-top: 40px;
}
.foter3{
    width: 370px;
    height: 183px;
    color: #000000;
}    
.fotertext h4{
    font-family: JCBEuro-Bold-Condensed,Gill Sans Bold,Arial,Helvetica,"sans-serif";
    font-size: 24px;
    color: #f2f2f2;
}
.fotertext p{
    font-size: 18px;
    font-family: JCBEuro-Bold-Condensed,Gill Sans Bold,Arial,Helvetica,"sans-serif";
    color: #ccc;
    margin-top: 5px;
}
.foter3{
    height: 203px;
    width: 370px;
}
.fotertext2 p{
    font-family: JCBEuro-Bold-Condensed, "Gill Sans Bold", Arial, Helvetica, "sans-serif";
    color: #fcb026;
    font-size: 16px;
}
.foter4 {
    height: 203px;
    width: 380px;
    background-color: #000000;
}    
.foter4 p{
    margin-left: 225px;
    margin-top: 50px;
    color: #fcb026;
    font-size: 18px;
    font-family: "Times New Roman";
}
.iconl{
    display: flex;
    margin-left: 50px;
}
.ic i{
    font-size: 26px;
    margin-left: 55px;
    margin-top: 29px;
}
.lf{
    display: grid;
    grid-template-columns: repeat(6,auto);
    gap: 10px;
    width: 1200px;
    height: 19px;
    margin-left: 182px;
    color: #ffffff;
    font-family: JCBEuro,Gill Sans,Arial,Helvetica,"sans-serif";
    text-transform: none;
    justify-content: flex-start;
    font-size: 13px;
    margin-top: 30px;
}
.lf1 p{
    margin-left: 450px;
    
}










